<html>
<head>
  <title>Halal is Here</title>
</head>
<body>

<h2>Login Form</h2>
<div class="article-info"></div>
<div>
  <div id="wrapper">
    <div id="login" class="animate form">
      <form action="login" method="post" autocomplete="on">
        <p>
          <label for="name" class="uname" data-icon="U"> Your Name* </label>
          <input id="name" name="name" required type="text" maxlength="40">
        </p>
        <p>
          <label for="password" class="youpasswd" data-icon="P"> Your Password* </label>
          <input id="password" name="password" required type="password" maxlength="40">
        </p>
        <p>
          <label style="color: red">{{ value }}</label>
        </p>
        <p class="login button">
          <input type="submit" value="Login">
        </p>
      </form>

    </div>
  </div>
</div>

</body>
</html>